.header {
    padding: 0 35px;
    /* height: 150px; */
    /* overflow: hidden; */

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

    top: 0;
    position: sticky;

    background-color: var(--main-2);

    transition: 0.5s all ease;

    z-index: 2;

    padding-bottom: 10px;

    /* border-bottom: solid 1px var(--main-1); */
}


.name {
    display: inline-block;

    margin: 20px 0 5px 0;

    color: var(--main-1);
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    transition: 0.5s all ease;

}

.filter-wrapper {
    list-style-type: none;
    padding: 10px 2px;

    display: flex;
    /* flex-wrap: wrap; */

    overflow: scroll;

    gap: 10px;

    margin-bottom: 10px;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.filter-wrapper::-webkit-scrollbar {
    display: none;
}

.filter-checkbox-list-item {
    display: inline-block;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

li:nth-last-child(2) {
    margin-right: 20px;
}

span {
    display: inline-block;
    user-select: none;
    cursor: pointer;

    padding: 10px 15px;
    border-radius: 5px;

    font-size: 1rem;
    color: var(--main-1);

    background-color: var(--back-1);
}

input[type="checkbox"]:focus+span {
    outline: rgb(59, 153, 252) auto 5px;
}

input[type="checkbox"]:checked+span {
    color: var(--main-2);
    background-color: var(--main-1);
}

select {
    appearance: none;

    padding: 10px 40px 10px 15px;
    height: 100%;
    border-radius: 5px;

    font-size: 1rem;
    color: var(--main-1);

    background-color: var(--back-1);

    border: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='30' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

@media (max-width: 670px) {
    .filter-wrapper::after {
        left: 30px;
        right: 30px;
        content: "";
        position: absolute;
        height: 50px;
        box-sizing: border-box;
        pointer-events: none;
        background: transparent;
    }

    .filter-wrapper.middle::after {
        background: linear-gradient(to right, var(--main-2) 0%, transparent 20%), linear-gradient(to right, transparent 80%, var(--main-2) 100%);
    }

    .filter-wrapper.start::after {
        background: linear-gradient(to right, transparent 80%, var(--main-2) 100%);
    }

    .filter-wrapper.end::after {
        background: linear-gradient(to right, var(--main-2) 0%, transparent 20%);
    }
}