.introduction-section {
    max-width: 40rem;

    margin: 20px auto 40px auto;

    text-align: center;

    overflow: hidden;

    opacity: 1;

    transition: opacity 0.25s ease-in-out;
}

.introduction-section.hidden {
    opacity: 0;
}

.search-subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 1.5rem;

    color: var(--main-1);
}