.card {
    /* flex: 1 1 300px; */
    flex: 1 1 450px;
    max-width: 1000px;

    padding: 20px 0;
    border-radius: 5px;

    background-color: var(--back-1);
    backdrop-filter: blur(10px);


    transition: 0.25s all ease;

    outline-style: solid;
    outline-width: 2px;
    outline-color: transparent;
    outline-offset: 0px;
}

.card:hover {
    outline-color: var(--main-1);
    outline-offset: 5px;
}

.card-categories-wrapper {
    padding: 0 20px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-category {
    display: inline-block;
    padding: 10px 20px;

    border-radius: 5px;
    background-color: var(--main-2);
    color: var(--main-1);

    /* font-weight: bold; */
}

.card-image-container {
    width: 100%;
}

.card-image {
    width: 100%;
    /* border-radius: 20px; */
    border-top: solid 5px var(--main-2);
    border-bottom: solid 5px var(--main-2);
    max-height: 300px;
    object-fit: cover;
}

.platform-support-wrapper {
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-platform-item {
    display: inline-block;
    vertical-align: middle;
    display: flex;
    padding-right: 10px;
    background-color: var(--main-2);
    border-radius: 5px;
}

.card-platform-label {
    display: inline;
    margin: 12px 0;
    color: var(--main-1);
}


.card-platform-icon {
    padding: 10px;
}

.card-title {
    padding: 0 20px;
    margin: 15px 0;
    font-size: 1.5rem;

    color: var(--main-1);
}

.card-description {
    padding: 0 20px;
    margin: 15px 0;

    color: var(--main-1);
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.card-links-wrapper {
    padding: 0 20px;
}

.card-link {
    color: var(--main-1);
    display: inline-block;

    margin: 5px 20px 5px 0;

    padding: 10px 0 10px 0;

    font-weight: bold;

    text-decoration: none;
    text-decoration-color: var(--main-1);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.card-link:hover {
    text-decoration-thickness: 2px;
}

.card-link.individual-clickable {
    position: relative;
    z-index: 2;
}

.card-link.whole-card-clickable::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}